NEXT_PUBLIC_SITE_URL=https://rulerev.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_CALENDLY_URL=
NEXT_PUBLIC_WHATSAPP_NUMBER=27614509800
NEXT_PUBLIC_PHONE_LOCAL=061 450 9800
NEXT_PUBLIC_PHONE_INTL=+27614509800
NEXT_PUBLIC_CONTACT_EMAIL=nkosinathi.dhliso@gmail.com
NEXT_PUBLIC_CIPC_REG=
